@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme inline {
    --font-heading: "DM Serif Display";
    --font-text: "EB Garamond";
    --default-font-family: var(--font-text);
    --default-mono-font-family: "Fira Code";
}

/*Colors*/
@theme {
    /* Lights */
    --color-background: #fffbdc;
    --color-surface: #f8d4a0;
    --color-muted: #f0a85c;
    --color-primary: #e8722a;
    --color-accent: #c94e0a;

    /* Darks */
    --color-heading: #3d2314;
    --color-label: #423730;
    --color-body: #2e2822;
    --color-subtle: #2c1a10;
    --color-base: #1a0f0a;
    --color-overlay: #1c1917;
}

body {
    @apply text-xl md:text-[22px];
    @apply bg-background text-base;
}

*::selection {
    background-color: #a1c6ce80;
}
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
